<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%= soccerfield.image %> " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= soccerfield.title %>
                    </h5>
                    <p class="card-text">
                        <%= soccerfield.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= soccerfield.location %>
                    </li>
                    <li class="list-group-item">
                        Subido por <%= soccerfield.author.username %>
                    </li>
                    <li class="list-group-item">$<%= soccerfield.price %>/hora</li>
                </ul>
                <% if (currentUser && soccerfield.author.equals(currentUser._id)) { %> 
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/soccerfields/<%= soccerfield._id %>/edit">Editar</a>
                    <form class="d-inline" action="/soccerfields/<%= soccerfield._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Borrar</button>
                    </form>
                </div>
                <% } %> 
            </div>
        </div>
        <div class="col-6">
            <h2>Dejá una reseña</h2>
            <form action="/soccerfields/<%= soccerfield._id %>/reviews" method="POST" class="mb-3 validated-form"
                novalidate>
                <div class="mb-3">
                    <label class="form-label" for="rating">Puntaje</label>
                    <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Comentario</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Bien ahi!
                    </div>
                </div>
                <button class="btn btn-success">Enviar</button>
            </form>
            <% for(let review of soccerfield.reviews) {%>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Puntaje: <%= review.rating %></h5>
                        <p class="card-text">Comentario: <%= review.body %></p>
                        <form action="/soccerfields/<%= soccerfield._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Borrar</button>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    </div>