<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= course.name %> </title>
</head>
<body>
    <h1><%= course.name %></h1>
    <h3>Teacher: <%= course.teacher %></h3>
    <h3>Weeks: <%= course.weeks %></h3>
    <h3>College: <%= course.college.name %></h3>

    <a href="/courses">All courses</a>

    <form action="/courses/<%= course._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>